<html>
    <head>
        <meta charset=utf-8>
        <meta content="IE=edge" http-equiv=X-UA-Compatible>
        <meta content="width=device-width,initial-scale=1" name=viewport>
        <title>Event Manager</title>
        <link rel="stylesheet" href="/files/css/flatly.min.css" type="text/css">
        <link rel="stylesheet" href="/files/plugins/DateTimePicker/css/bootstrap-datetimepicker.min.css" type="text/css">
        <link rel="stylesheet" href="/files/css/style.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/files/plugins/DateTimePicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        <script src="/files/js/scripts.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                        <a href="/"><img src="/files/images/rit-logo.png" class="navbar-brand"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                          <li><a href="/">Home</a></li>
                          <li><a href="/Events/">Upcoming Events</a></li>
                          <li><a href="/NewEvent/">Create an Event</a></li>
                          <li><a href="https://www.gdax.com/" target="_blank">Donate!</a></li>
                      </ul>
                      <form class="navbar-form navbar-right">
                        <div class="form-group">
                          <input type="text" placeholder="Search for an Event" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                      </form>
                    </div><!--/.navbar-collapse -->
                  </div>
                </nav>
            </header>
            <div id="page-content">
                {{{body}}}
            </div>
            <footer>
                <p>&copy; 2018 Rochester Institute of Technology Events.</p>
            </footer>
        </div>
    </body>
</html>